@model BusApp.Models.ViewModels.LineCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trip.STime" class="control-label"></label>
                <input asp-for="Trip.STime" class="form-control" />
                <span asp-validation-for="Trip.STime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.ETime" class="control-label"></label>
                <input asp-for="Trip.ETime" class="form-control" />
                <span asp-validation-for="Trip.ETime" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label>Select Bus</label>
                <select asp-for="Trip.Bus"
                        asp-items="@(new SelectList(Model.Buses, "Id","No"))"
                        multiple class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label>Select Line</label>
                <select asp-for="Trip.Line"
                        asp-items="@(new SelectList(Model.Lines, "Id","Name"))"
                        multiple class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label>Select Driver</label>
                <select asp-for="Trip.Driver"
                        asp-items="@(new SelectList(Model.Drivers, "Id","Name"))"
                        multiple class="form-control">
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
